
<div class="login-form-flex" >
<form [formGroup]="loginform" (ngSubmit)="submitForm()">
  <mat-card>
    <mat-card-title>
      Login
    </mat-card-title>
      <mat-card-content>

        <mat-form-field>
          <input matInput placeholder="Enter email" formControlName="email">
          <h4 style="color: red;">{{emailValid()}}</h4>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <h4 style="color: red;">{{passwordValid()}}</h4>
        </mat-form-field>
      </mat-card-content>
          <button mat-raised-button color="primary"    [disabled]="!loginform.valid">Login</button> 
   
  </mat-card>
</form>
</div>