
.mdc-button{
    margin: 2px;
    text-align: center;
  }
  .mat-mdc-form-field{
    width: 400px;
  }
  .login-form-flex {
        display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  
  }
  .button-flex-container{
    /* background-color: black; */
    margin:auto;
  
  }